---
import { getI18N } from "@/i18n"

const currentYear = new Date().getFullYear()
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const pages = ["about", "experience", "projects", "technologies"].map((key) => ({
	title: (i18n[key as keyof typeof i18n] as { id: string }).id,
	url: `${currentLocale === "en" ? "/en/" : "/"}#${(i18n[key as keyof typeof i18n] as { id: string }).id}`,
}))
---

<footer class="container mx-auto mb-8 mt-14 w-full px-4 sm:w-[600px] md:px-0 lg:w-[740px]">
	<div
		class="mx-auto flex max-w-screen-xl flex-col items-center gap-y-1 rounded-lg border-dark-100 p-4 shadow dark:border-dark-700 dark:shadow-dark-700 lg:flex-row lg:justify-between"
	>
		<span class="flex text-center text-sm text-zinc-800/90 dark:text-zinc-200/90"
			>©️ {currentYear} {i18n.copyright}
		</span>
		<nav
			class="mt-3 flex flex-wrap items-center text-sm font-medium dark:text-white/90 sm:mt-0"
			aria-label="Footer Navigation"
		>
			{
				pages.map(({ title, url }) => (
					<a class="ml-3 hover:underline" href={url}>
						{i18n.menu[title as keyof typeof i18n.menu]}
					</a>
				))
			}
		</nav>
	</div>
</footer>
